/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Start Style */

body {
    /* background-color: azure; */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.container {
    width: 80%;
    margin: auto;

}

/* Header */

header {
    background: linear-gradient(to right, #C0C0C0, #DCDCDC);
    padding: 20px 0;
    /* min-height: 70px; */
    color: #6A5ACD;
    border-bottom: solid 3px #DEB887;

}

.logo {
    font-size: 40px;
    font-weight: bold;
    float: left;

}

nav {
    float: right;
}

ul li {
    display: inline-block;
    padding: 0px 20px;
}

li a {
    font-size: 20px;
    color: #6A5ACD;
    text-decoration: none;
    line-height: 40px;
    text-transform: uppercase;
    padding-bottom: 3px;
    /* border-bottom: solid 1x rgba(40, 255, 255, 0); */
    transition: 0.5s ease-in-out;
}

li a:hover {
    color: #000000;
    border-bottom: solid 1px #6A5ACD;
}

li.active a {
    font-weight: bold;
}

/* showcase */

.showcase {
    min-height: 560px;
    background-image: url("../img/show.jpg");
    background-position: 50% 50%;
    background-size: cover;
    text-align: center;
    color: #F8F8FF;
    box-sizing: border-box;
    /* padding-top: 180px; */
}

.title {
    padding-top: 150px;
    font-size: 60px;
    margin-bottom: 10px;
}

.showcase p {
    font-size: 20px;
}

.newslater {
    min-height: 100px;
    /* padding: 15px 0; */
    color: #6A5ACD;
    background: linear-gradient(to left, #C0C0C0, #DCDCDC);

}

.newslater h1 {
    font-size: 30px;
    font-weight: bold;
    float: left;
    line-height: 100px;
}

.newslater form {
    line-height: 100px;
    float: right;
}

.newslater input {
    /* padding: 4px; */
    height: 35px;
    width: 250px;
}

button {
    padding: 1px;
    background-color: #6A5ACD;
    font-size: 20px;
    color: #F8F8FF;
    height: 40px;
    width: 100px;
    border: 0;
    /* box-sizing: border-box; */
}

.box {
    background-color: white;
    margin: 30px 0;
}

.box-1 {
    float: left;
    text-align: center;
    width: 30%;
    margin-left: 35px;
}

.box-1 img {
    width: 150px;
}

.box-1 h3 {
    margin: 10px 0 10px;
    font-size: 20px;
    font-weight: bold;
}

/* footer */

footer {
    text-align: center;
    background: linear-gradient(to right, #C0C0C0, #DCDCDC);
    padding: 20px 0;
    font-size: 20px;
}

span {
    font-weight: bold;
}







/* Clearfix */
header::after {
    content: "";
    display: table;
    clear: both;
}

.newslater::after {
    content: "";
    display: table;
    clear: both;
}

.box::after {
    content: "";
    display: table;
    clear: left;
}